<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Application Success - Jovian Careers</title>
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h3>Thank you for subnmitting your application for "{{job["title"]}}" - here is your data:</h3>
    <div>
      <p>Full Name: {{data.full_name}}</p>
      <p>Your Email: {{data.email}}</p>
      <p>Linkedin: {{data.linkedin}}</p>
      <p>CV: {{data.CV}}</p>
      <p>Education: {{data.education}}</p>
      <p>Work Expereince: {{data.work_experience}}</p>
    </div>
  </body>